@using MVCBookshelf.Content.Values
@{ ViewBag.Title = Lang.homePageTitle; }

<section>
    <div class="jumbotron">
        <!-- Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Retrieve Information</h2>

        <div class="btn-toolbar justify-content-center">
            <!-- Button Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <p><a  href="/References/ContactDetails" style="height:150px; width:200px;" class="btn btn-primary btn-lg ml-4 mr-4"> @Lang.homePageButtonContactDetailsOfAuthors</a></p>
            <p><a href="/References/OrderID" style="height:150px; width:200px;" class="btn btn-primary btn-lg ml-4 mr-4"> @Lang.homePageButtonOrderID</a></p>
        </div>
    </div>
</section>