@using MVCBookshelf.Content.Values
@{
    ViewBag.Title = Strings.homePageTitle;
}

<div class="jumbotron">
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> @{Strings.homePageButtonContactDetailsOfAuthors} &raquo;</a></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> &raquo;</a></p>
</div>