@using MVCBookshelf.Content.Values
@{
    ViewBag.Title = Strings.homePageTitle;
}

<h2>Authors Details</h2>
<div class="jumbotron">

    <table style="font-family:Arial">
        <tr>
            <td>
                <b>Authors ID: </b>
            </td>
            <td>
                @Model.Authors
            </td>
        </tr>
    </table>



</div>