@using MVCBookshelf.Content.Values
@{
    ViewBag.Title = Strings.homePageTitle;
}

<section>
    <div class="jumbotron">
        <!-- Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Retrieve Information</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg"> @Strings.homePageButtonContactDetailsOfAuthors &raquo;</a></p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg"> @Strings.homePageButtonOrderID &raquo;</a></p>
    </div>
</section>
