@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Στοιχεία επικοινωνίας των συγγραφέων &raquo;</a></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> &raquo;</a></p>
</div>

<div class="row">
    <form class="form-inline my-2 my-lg-0">
        <label class="item item-input">
            <i class="fa fa-search"></i>
            <input type="search" placeholder="Search">
        </label>
    </form>
</div>