@using MVCBookshelf.Content.Values
@{
    ViewBag.Title = Strings.homePageTitle;
}

<section>
    <div class="jumbotron">
        <!-- Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Retrieve Information</h2>

        <div class="btn-toolbar justify-content-center">
            <!-- Button Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p><a style="height:150px; width:200px;" class="btn btn-primary btn-lg ml-4 mr-4"> @Strings.homePageButtonContactDetailsOfAuthors</a></p>
            <p><a style="height:150px; width:200px;" class="btn btn-primary btn-lg ml-4 mr-4"> @Strings.homePageButtonOrderID</a></p>
        </div>
    </div>
</section>
