@using MVCBookshelf.Content.Values
@{
    ViewBag.Title = Lang.error404PageTitle;
}

<section>
    <div class="col-sm-12 text-center">
        <img src="~/Content/Images/error404.png" style="height:40%; width:40%;" alt="Error 404" />
    </div>

    <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">@Lang.error404Header1</h1>

    <div>
        <!-- Button Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2 class="page-section-heading text-center text-secondary mb-0">@Lang.error404Header2</h2>
        <br />
        <h3 class="page-section-heading text-center text-secondary mb-0">@Lang.error404Header3</h3>
        <br />
        <div class="btn-toolbar justify-content-center">
            <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg w-125 h-75"><i class="bi bi-arrow-bar-left"></i> &nbsp;  Back Home</a></p>
        </div>
    </div>
</section>


